.row{
    margin-bottom: 10px;
} 
.col{
    margin-bottom: 10px;
}
.card{
    width: 100%;
    float: left;
    margin: 5px;
}
section{
    padding: 2rem 0;
}
input, textarea{
    margin-bottom: 1rem;
}
header{
    padding-top: 1rem;
}
header a{
 margin: 10px 2px;
}
body{
    background-color: ghostwhite;
}
.btn-info{
 color: #e8dada;
 background-color: #7c0dfd;
 border-color: #7c0dfd;
}
.btn-primary {
    color: #fdeaea;
    background-color: #7c0dfd;
    border-color: #7c0dfd;
}